In [1]:
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from wordcloud import WordCloud, STOPWORDS
from IPython.display import Image
import warnings
warnings.filterwarnings("ignore")

C:\Users\ASUS\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\Users\ASUS\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.4' currently installed).
  from pandas.core import (
C:\Users\ASUS\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df = pd.read_csv('data\shopping_trends.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Customer ID               3900 non-null   int64
 1   Age                       3900 non-null   int64
 2   Gender                    3900 non-null   object
 3   Item Purchased            3900 non-null   object
 4   Category                  3900 non-null   object
 5   Purchase Amount (USD)     3900 non-null   int64
 6   Location                  3900 non-null   object
 7   Size                      3900 non-null   object
 8   Color                     3900 non-null   object
 9   Season                    3900 non-null   object
 10  Review Rating             3900 non-null   float64
 11  Subscription Status       3900 non-null   object
 12  Payment Method            3900 non-null   object
 13  Shipping Type             3900 non-null   object
 14  Discount Applied          3900 non-null   object
 15  Promo Code Used           3900 non-null   object
 16  Previous Purchases        3900 non-null   int64
 17  Preferred Payment Method  3900 non-null   object
 18  Frequency of Purchases    3900 non-null   object
dtypes: float64(1), int64(4), object(14)
memory usage: 579.0+ KB

In [3]:
# Tạo từ điển ánh xạ cho "Gender"
gender_mapping = {'Male': 1, 'Female': 2}
df['Gender'] = df['Gender'].map(gender_mapping).astype(int)


# Tạo một từ điển ánh xạ cho "Item Purchased"
item_mapping = {
    'Blouse': 1, 'Jewelry': 2, 'Pants': 3, 'Shirt': 4, 'Dress': 5,
    'Sweater': 6, 'Jacket': 7, 'Belt': 8, 'Sunglasses': 9, 'Coat': 10,
    'Sandals': 11, 'Socks': 12, 'Skirt': 13, 'Shorts': 14, 'Scarf': 15,
    'Hat': 16, 'Handbag': 17, 'Hoodie': 18, 'Shoes': 19, 'T-shirt': 20,
    'Sneakers': 21, 'Boots': 22, 'Backpack': 23, 'Gloves': 24, 'Jeans': 25
}
# Ánh xạ giá trị trong cột "Item Purchased" sang số
df["Item Purchased"] = df["Item Purchased"].map(item_mapping).astype(int)


# Tạo từ điển ánh xạ cho "Category"
category_mapping = {'Clothing': 1, 'Accessories': 2, 'Footwear': 3, 'Outerwear': 4}
df["Category"] = df["Category"].map(category_mapping).astype(int)


# Tạo từ điển ánh xạ cho "Location"
location_mapping = {
    'Montana': 1, 'California': 2, 'Idaho': 3, 'Illinois': 4, 'Alabama': 5, 
    'Minnesota': 6, 'Nebraska': 7, 'New York': 8, 'Nevada': 9, 'Maryland': 10, 
    'Delaware': 11, 'Vermont': 12, 'Louisiana': 13, 'North Dakota': 14, 'Missouri': 15, 
    'West Virginia': 16, 'New Mexico': 17, 'Mississippi': 18, 'Indiana': 19, 'Georgia': 20, 
    'Kentucky': 21, 'Arkansas': 22, 'North Carolina': 23, 'Connecticut': 24, 'Virginia': 25, 
    'Ohio': 26, 'Tennessee': 27, 'Texas': 28, 'Maine': 29, 'South Carolina': 30, 
    'Colorado': 31, 'Oklahoma': 32, 'Wisconsin': 33, 'Oregon': 34, 'Pennsylvania': 35, 
    'Washington': 36, 'Michigan': 37, 'Alaska': 38, 'Massachusetts': 39, 'Wyoming': 40, 
    'Utah': 41, 'New Hampshire': 42, 'South Dakota': 43, 'Iowa': 44, 'Florida': 45, 
    'New Jersey': 46, 'Hawaii': 47, 'Arizona': 48, 'Kansas': 49, 'Rhode Island': 50
}
df['Location'] = df['Location'].map(location_mapping).astype(int)


# Tạo một từ điển ánh xạ cho "Size"
size_mapping = {'S': 1, 'M': 2, 'L': 3, 'XL': 4}
df["Size"] = df["Size"].map(size_mapping).astype(int)


# Tạo một từ điển ánh xạ cho "Color"
color_mapping = {
    'Olive': 1, 'Yellow': 2, 'Silver': 3, 'Teal': 4, 'Green': 5,
    'Black': 6, 'Cyan': 7, 'Violet': 8, 'Gray': 9, 'Maroon': 10,
    'Orange': 11, 'Charcoal': 12, 'Pink': 13, 'Magenta': 14, 'Blue': 15,
    'Purple': 16, 'Peach': 17, 'Red': 18, 'Beige': 19, 'Indigo': 20,
    'Lavender': 21, 'Turquoise': 22, 'White': 23, 'Brown': 24, 'Gold': 25
}
df["Color"] = df["Color"].map(color_mapping).astype(int)


# Tạo một từ điển ánh xạ cho "Season"
season_mapping = {'Spring': 1, 'Fall': 2, 'Winter': 3, 'Summer': 4}
df["Season"] = df["Season"].map(season_mapping).astype(int)


# Tạo từ điển ánh xạ cho "Subscription Status"
subscription_mapping = {'No': 1, 'Yes': 2}
df["Subscription Status"] = df["Subscription Status"].map(subscription_mapping).astype(int)


# Tạo từ điển ánh xạ cho "Payment Method"
payment_method_mapping = {'PayPal': 1, 'Credit Card': 2, 'Cash': 3, 'Debit Card': 4, 
                          'Venmo': 5, 'Bank Transfer': 6}
df["Payment Method"] = df["Payment Method"].map(payment_method_mapping).astype(int)


# Tạo từ điển ánh xạ cho "Shipping Type"
shipping_mapping = {'Free Shipping': 1, 'Standard': 2, 'Store Pickup': 3, 'Next Day Air': 4, 
                    'Express': 5, '2-Day Shipping': 6}
df["Shipping Type"] = df["Shipping Type"].map(shipping_mapping).astype(int)


# Tạo từ điển ánh xạ cho "Discount Applied"
binary_mapping = {'Yes': 1, 'No': 2}
df["Discount Applied"] = df["Discount Applied"].map(binary_mapping).astype(int)


# Tạo từ điển ánh xạ cho "Preferred Payment Method"
prefered_payment_method_mapping = {'PayPal': 1, 'Credit Card': 2, 'Cash': 3, 'Debit Card': 4, 
                          'Venmo': 5, 'Bank Transfer': 6}
df["Preferred Payment Method"] = df["Preferred Payment Method"].map(prefered_payment_method_mapping)


# Tạo từ điển ánh xạ cho "Frequency of Purchases"
frequency_mapping = {'Every 3 Months': 1, 'Annually': 2, 'Quarterly': 3, 'Monthly': 4, 
                     'Bi-Weekly': 5, 'Fortnightly': 6, 'Weekly': 7}
df['Frequency of Purchases'] = df['Frequency of Purchases'].map(frequency_mapping).astype(int)



# Tạo từ điển ánh xạ cho "Review Rating"
def map_review_rating(rating):
    if rating <= 1.9:
        return 1
    elif rating <= 2.9:
        return 2
    elif rating <= 3.9:
        return 3
    elif rating <= 4.9:
        return 4
    else:
        return 5

df["Review Rating"] = df["Review Rating"].map(map_review_rating).astype(int)

In [4]:
df = df[['Gender','Age', 'Category','Item Purchased','Size','Color','Season','Location','Subscription Status', 'Payment Method','Shipping Type','Preferred Payment Method','Previous Purchases','Review Rating','Frequency of Purchases']]
df.head()

,Gender,Age,Category,Item Purchased,Size,Color,Season,Location,Subscription Status,Payment Method,Shipping Type,Preferred Payment Method,Previous Purchases,Review Rating,Frequency of Purchases
0,1,55,1,1,3,9,3,21,2,2,5,5,14,3,6
1,1,19,1,6,3,10,3,29,2,6,5,3,2,3,6
2,1,50,1,25,1,10,1,39,2,3,1,2,23,3,7
3,1,21,3,11,2,10,1,50,2,1,4,1,49,3,7
4,1,45,1,1,2,22,1,34,2,3,1,1,31,2,2

In [5]:
import pandas as pd
import numpy as np
from sklearn.utils import shuffle


# Hàm thêm nhiễu vào các thuộc tính số
def add_noise(series, noise_level=0.1):
    return series + noise_level * np.random.randn(len(series))

# Hàm để tạo dữ liệu mới bằng cách thêm nhiễu vào các thuộc tính số và sao chép các thuộc tính khác
def augment_data(df, n_copies):
    augmented_dfs = []
    for _ in range(n_copies):
        augmented_df = df.copy()
        
        # Thêm nhiễu vào các cột số
        for column in augmented_df.select_dtypes(include=['int64', 'float64']):
            augmented_df[column] = add_noise(augmented_df[column])
            augmented_df[column] = augmented_df[column].clip(lower=0).astype(int)  # Chuyển đổi về số nguyên
        
        augmented_dfs.append(augmented_df)
    
    return pd.concat(augmented_dfs, ignore_index=True)

# Tạo thêm 5 bản sao của dữ liệu gốc để đạt được khoảng 20,000 bản ghi (3,900 * 5 + 3,900 = 23,400)
augmented_data = augment_data(df, 5)

# Đảo trộn dữ liệu để tăng tính ngẫu nhiên
augmented_data = shuffle(augmented_data)

# Hiển thị thông tin của dữ liệu đã gia tăng
print(augmented_data.info())

<class 'pandas.core.frame.DataFrame'>
Index: 19500 entries, 2043 to 13984
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Gender                    19500 non-null  int32
 1   Age                       19500 non-null  int32
 2   Category                  19500 non-null  int32
 3   Item Purchased            19500 non-null  int32
 4   Size                      19500 non-null  int32
 5   Color                     19500 non-null  int32
 6   Season                    19500 non-null  int32
 7   Location                  19500 non-null  int32
 8   Subscription Status       19500 non-null  int32
 9   Payment Method            19500 non-null  int32
 10  Shipping Type             19500 non-null  int32
 11  Preferred Payment Method  19500 non-null  int32
 12  Previous Purchases        19500 non-null  int32
 13  Review Rating             19500 non-null  int32
 14  Frequency of Purchases    19500 non-null  int32
dtypes: int32(15)
memory usage: 1.3 MB
None

In [6]:
augmented_data.head()

,Gender,Age,Category,Item Purchased,Size,Color,Season,Location,Subscription Status,Payment Method,Shipping Type,Preferred Payment Method,Previous Purchases,Review Rating,Frequency of Purchases
2043,1,46,2,24,2,12,4,8,1,1,2,0,49,2,7
6620,2,54,2,15,2,17,1,10,1,4,3,6,45,2,3
1701,1,69,2,17,4,15,3,18,1,1,4,4,43,3,1
7288,2,35,1,6,2,7,1,43,1,5,3,1,20,4,7
17443,1,36,4,7,2,12,2,21,1,6,4,1,31,4,4

In [7]:
augmented_data.corr()['Frequency of Purchases'].sort_values(ascending=False)

Frequency of Purchases      1.00
Subscription Status         0.01
Category                    0.01
Previous Purchases          0.01
Color                       0.01
Item Purchased              0.01
Review Rating               0.00
Age                         0.00
Location                    0.00
Gender                      0.00
Shipping Type              -0.00
Payment Method             -0.00
Preferred Payment Method   -0.00
Season                     -0.01
Size                       -0.01
Name: Frequency of Purchases, dtype: float64

In [12]:
data_rf = augmented_data[['Gender','Age', 'Category','Item Purchased','Size','Color','Season','Location','Subscription Status', 'Payment Method','Shipping Type','Preferred Payment Method','Previous Purchases','Review Rating','Frequency of Purchases']]
data_rf.head()

,Gender,Age,Category,Item Purchased,Size,Color,Season,Location,Subscription Status,Payment Method,Shipping Type,Preferred Payment Method,Previous Purchases,Review Rating,Frequency of Purchases
2043,1,46,2,24,2,12,4,8,1,1,2,0,49,2,7
6620,2,54,2,15,2,17,1,10,1,4,3,6,45,2,3
1701,1,69,2,17,4,15,3,18,1,1,4,4,43,3,1
7288,2,35,1,6,2,7,1,43,1,5,3,1,20,4,7
17443,1,36,4,7,2,12,2,21,1,6,4,1,31,4,4

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

# Lấy features và labels từ DataFrame
X = data_rf.drop('Frequency of Purchases', axis=1)
y = data_rf['Frequency of Purchases']

# Chia dữ liệu thành tập huấn luyện và tập kiểm tra
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=17)

# Tạo một mô hình Random Forest
clf = RandomForestClassifier(n_estimators=100)

# Huấn luyện mô hình
clf.fit(X_train, y_train)

# Dự đoán nhãn của tập kiểm tra
y_pred = clf.predict(X_test)

# Tính độ chính xác của mô hình
accuracy = accuracy_score(y_test, y_pred)

print("Độ chính xác của mô hình:", accuracy)

Độ chính xác của mô hình: 0.9958974358974358

In [14]:
from sklearn.metrics import accuracy_score

# Dự đoán nhãn của tập huấn luyện
y_train_pred = clf.predict(X_train)

# Dự đoán nhãn của tập kiểm tra
y_test_pred = clf.predict(X_test)

# Tính độ chính xác trên tập huấn luyện và tập kiểm tra
train_accuracy = accuracy_score(y_train, y_train_pred)
test_accuracy = accuracy_score(y_test, y_test_pred)

print("Độ chính xác trên tập huấn luyện:", train_accuracy)
print("Độ chính xác trên tập kiểm tra:", test_accuracy)

Độ chính xác trên tập huấn luyện: 1.0
Độ chính xác trên tập kiểm tra: 0.9958974358974358

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

# Chia dữ liệu thành train set và test set
X = data_rf.drop('Frequency of Purchases', axis=1)
y = data_rf['Frequency of Purchases']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Khởi tạo và fit mô hình Random Forest Regression
rf_model = RandomForestRegressor(n_estimators=500, max_depth=10, min_samples_split=5, min_samples_leaf=2, max_features='sqrt', random_state=42)
rf_model.fit(X_train, y_train)

# Dự đoán trên test set
y_pred = rf_model.predict(X_test)

# Đánh giá mô hình bằng cách tính RMSE (Root Mean Squared Error)
rmse = mean_squared_error(y_test, y_pred, squared=False)
print("Root Mean Squared Error:", rmse)

Root Mean Squared Error: 1.6382507486517608